.tag {
  display: inline-flex;
  overflow: hidden;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--faded-light-blue, lightblue);
  color: var(--black, black);
  margin-left: 2.5px;
  margin-right: 2.5px;
  border-radius: 100px;
  height: 40px;
  font-size: 16px;
  font-weight: 300;
};

.tag:first-child {
  margin-left: 0px;
  margin-right: 2.5px;
}

.tag:last-child {
  margin-left: 2.5px;
  margin-right: 0px;
}

.tag .text { 
  padding-left: 10px;
  padding-right: 10px;
}

.tag .button-remove {
  display: block;
  background-color: var(--faded-light-blue, lightblue);
  border: none;
  height: 40px;
  width: 40px;
  margin-right: -10px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  border: 1px solid var(--faded-blue, lightblue);
  padding-right: 10px;
}

.tag .button-remove:hover,
.tag .button-remove:focus {
  background-color: var(--faded-blue, lightblue);
  outline: none;
}

.tag .button-remove:after {
  content: '\000d7';
  display: inline-block;
  color: var(--black, black);
  font-size: 28px;
  font-weight: lighter;
}