.input {
  background-color: var(--white, white);
  border: 1px solid var(--dark-gray, darkgray);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  height: 49.33px;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0 1rem;
  max-width: 370px;
  width: 100%;
}

.input::-ms-clear {
  display: none;
}

.input:focus {
  outline: none;
}

.input:hover,
.input:focus {
  border-color: var(--one-blue, blue);
}

.input:disabled {
  background-color: var(--light-smoke, whitesmoke);
  border-color: var(--dark-gray, darkgray);
}

.input[type=number]::-webkit-inner-spin-button {
  display: none;
}

::placeholder {
  color: var(--dark-gray, darkgray) !important;
}
