.input {
}

.input:focus {
}

.input:hover {
  border-color: var(--one-blue);
}

.input:disabled {
  background-color: var(--light-smoke);
  border-color: var(--dark-gray);
}

.input[type=number]::-webkit-inner-spin-button {
  display: none;
}

::placeholder {
  color: var(--dark-gray) !important;
}
