{
  "presets": [
    "@babel/react",
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        [
          "@babel/env"
        ]
      ]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "react-hot-loader/babel"
  ]
}
