.nav-link {
  color: var(--charcoal, slategray);
  display: block;
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  user-select: none;
  box-sizing: border-box;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--one-blue, blue);
}

.nav-link.active,
.nav-link:active {
  color: var(--one-blue, blue);
  text-shadow: 0 0 .01px var(--one-blue, blue), 0 0 .01px var(--one-blue, blue);
}

.nav-link.disabled,
.nav-link:disabled {
  color: var(--misty, lightgray);
  text-shadow: none;
}

.nav-link:not(.disabled):not(:disabled) {
  cursor: pointer;
}
