.card-link {
  color: var(--primary);
  font-size: 16px;
  text-decoration: none;
}

.card-link:hover {
  color: var(--primary-light);
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}
