.card-link {
  color: var(--day, blue);
  font-size: 16px;
  text-decoration: none;
}

.card-link:hover {
  color: var(--morning, lightblue);
  text-decoration: none;
}

.card-link + .card-link {
  margin-left: 1.25rem;
}
