.button {
  height: 48px;  
  width: 154px;
  margin: 5px 0px;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid var(--color-dark-gray);
  background-color: var(--color-white);
  color: var(--color-charcoal);
}

.button:hover {
  background-color: var(--color-marble);
}

.button-small {
  height: 40px;
  width: 144px;
}

.button-large {
  height: 56px;
  width: 145px;
}

.button-primary {
  background-color: var(--color-one-blue);
  border-color: var(--color-one-blue);
  color: var(--color-white);
}

.button-primary:hover {
  background-color: var(--color-one-dark-blue);
}

.button-danger { 
  height: 48px;
  widows: 150px;
  background-color: var(--color-red-status);
  border-color: var(--color-red-status);
  color: var(--color-white);
}

.button-danger:hover {
  background-color: var(--color-red-hover-status);
}

.button-success {
  height: 48px;
  width: 162px;
  background-color: var(--color-green-status);
  border-color: var(--color-green-status);
  color: var(--color-white);
}

.button-success:hover {
  background-color: var(--color-green-hover-status);
}
