.button {
  background-color: var(--white, white);
  border: 1px solid var(--dark-gray, darkgray);
  border-radius: 6px;
  color: var(--charcoal, slategray);
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  height: 48px;  
  margin: 0;
  overflow: visible;
  line-height: inherit;
  text-align: center;
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: 154px;
}

.button:first-child {
  margin-left: 0px;
  margin-right: 2.5px;
}

.button:last-child {
  margin-left: 2.5px;
  margin-right: 0px;
}

.button:hover {
  background-color: var(--marble, whitesmoke);
}

.button:not(:disabled):hover {
  cursor: pointer;
}

.button:hover,
.button:focus {
  outline: none;
}

.button:disabled {
  background-color: var(--marble, whitesmoke);
  border-color: var(--marble, whitesmoke);
}

.button-primary {
  background-color: var(--one-blue, blue);
  border-color: var(--one-blue, blue);
  color: var(--white, white);
}

.button-primary:hover,
.button-primary:disabled {
  background-color: var(--one-dark-blue, darkblue);
  border-color: var(--one-dark-blue, darkblue);
}

.button-danger { 
  background-color: var(--red-status, red);
  border-color: var(--red-status, red);
  color: var(--white, white);
}

.button-danger:hover,
.button-danger:disabled {
  background-color: var(--red-hover-status, darkred);
  border-color: var(--red-hover-status, darkred);
}

.button-success {
  background-color: var(--green-status, green);
  border-color: var(--green-status, green);
  color: var(--white, white);
}

.button-success:hover,
.button-success:disabled {
  background-color: var(--green-hover-status, darkgreen);
  border-color: var(--green-hover-status, darkgreen);
}

.button-link {
  color: var(--charcoal, slategray);
}

.button-link,
.button-link:hover,
.button-link:focus {
  background-color: transparent;
  border-color: transparent;
}

.button-link:hover,
.button-link:focus {
  color: var(--one-blue, blue);
}

.button-small {
  height: 40px;
  width: 144px;
}

.button-large {
  height: 56px;
  width: 145px;
}

a.button {
  text-decoration: none;
  line-height: 48px;
}

a.button-small {
  line-height: 40px;
}

a.button-large {
  line-height: 56px;
}

