.button {
  background-color: var(--white, white);
  border: 1px solid var(--dark-gray, darkgray);
  border-radius: 6px;
  color: var(--charcoal, slategray);
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  height: 48px;  
  margin: 0;
  overflow: visible;
  line-height: inherit;
  text-align: center;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  min-width: 154px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.button:first-child {
  margin-left: 0px;
}

.button:last-child {
  margin-right: 0px;
}

.button:hover {
  border-color: var(--primary, blue);
  color: var(--primary, blue);
}

.button:not(:disabled):hover {
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:disabled,
.button:disabled:hover {
  background-color: var(--marble, whitesmoke);
  border-color: var(--marble, whitesmoke);
  color: var(--dark-gray, darkgray);
}

.button-primary {
  background-color: var(--primary, blue);
  border-color: var(--primary, blue);
  color: var(--white, white);
}

.button-primary:hover {
  background-color: var(--primary-dark, darkblue);
  border-color: var(--primary-dark, darkblue);
  color: var(--white, white);
}

.button-danger { 
  background-color: var(--danger, red);
  border-color: var(--danger, red);
  color: var(--white, white);
}

.button-danger:hover {
  background-color: var(--danger-hover, darkred);
  border-color: var(--danger-hover, darkred);
  color: var(--white, white);
}

.button-success {
  background-color: var(--success, green);
  border-color: var(--success, green);
  color: var(--white, white);
}

.button-success:hover {
  background-color: var(--success-hover, darkgreen);
  border-color: var(--success-hover, darkgreen);
  color: var(--white, white);
}

.button-warning {
  background-color: var(--warning, yellow);
  border-color: var(--warning, yellow);
  color: var(--white, white);
}

.button-warning:hover {
  background-color: var(--warning-hover, darkgoldenrod);
  border-color: var(--warning-hover, darkgoldenrod);
  color: var(--white, white);
}

.button-link {
  color: var(--charcoal, slategray);
}

.button-link,
.button-link:hover,
.button-link:focus {
  background-color: transparent;
  border-color: transparent;
}

.button-link:hover,
.button-link:focus {
  color: var(--primary, blue);
}

.button-small {
  height: 40px;
  min-width: 144px;
}

.button-large {
  height: 56px;
  min-width: 145px;
}

a.button {
  text-decoration: none;
  line-height: 48px;
}

a.button-small {
  line-height: 40px;
}

a.button-large {
  line-height: 56px;
}

