.textarea {
  background-color: var(--white, white);
  border: 1px solid var(--dark-gray, darkgray);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  width: 370px;
}

.textarea:hover {
  border-color: var(--one-blue, blue);
}

.textarea:disabled {
  background-color: var(--light-smoke, whitesmoke);
  border-color: var(--dark-gray, darkgray);
}

::placeholder {
  color: var(--dark-gray, darkgray) !important;
}
