.textarea {
  overflow-x: hidden;
  overflow-y: auto;
}

.textarea:hover {
  border-color: var(--one-blue);
}

.textarea:disabled {
  background-color: var(--light-smoke);
  border-color: var(--dark-gray);
}

::placeholder {
  color: var(--dark-gray) !important;
}
