.textarea {
  position: relative;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #A3A3A3;
  border-radius: 6px;
  background-color: #FFFFFF;
  font-size: 16px;
  margin: 10px 0px;
  padding: 0px 15px;
}

.textarea:hover {
  border-color: #025FAE;
}

.textarea:disabled {
	background-color: #F6F6F6;
}
