.textarea {
  background-color: var(--white, white);
  border: 1px solid var(--dark-gray, darkgray);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1rem;
  max-width: 370px;
  width: 100%;
}

.textarea:focus {
  outline: none;
}

.textarea:hover,
.textarea:focus {
  border-color: var(--day, blue);
}

.textarea:disabled {
  background-color: var(--light-smoke, whitesmoke);
  border-color: var(--marble, lightgray);
}

::placeholder {
  color: var(--dark-gray, darkgray) !important;
}
