.container {
  width: 100%;
  padding-right: 64px;
  padding-left: 64px;
  margin: 0 auto;
}

@media (--phone) {
  .container {
    padding-right: 0;
    padding-left: 0;
    max-width: 540px;
  }
}

@media (--tablet) {
  .container {
    max-width: 720px;
  }
}

@media (--desktop) {
  .container {
    max-width: 960px;
  }
}

@media (--large-desktop) {
  .container {
    max-width: 1440px;
  }
}

.container-fluid { 
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}
