.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  line-height: 19px;
  clear: both;
  font-size: 16px;
  font-weight: normal;
  font-family: inherit;
  color: var(--black, black);
  text-align: inherit;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  text-indent: 0px;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  box-shadow: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--faded-light-blue, lightblue);
  text-decoration: none;
}

.dropdown-item:disabled {
  color: var(--stone, gray);
  background-color: transparent;
}

.dropdown-header {
  display: block;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 16px;
  line-height: 19px;
  font-weight: 100;
  color: var(--stone, gray);
  white-space: nowrap;
}

.dropdown-separator {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid var(--marble, lightgray);
}
