html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,
body {
  line-height: 1.5rem;
  font-family: var(--system-fonts);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
  color: var(--black, black);
  font-weight: 100;
}

h1 {
  font-size: 48px;
  line-height: 54px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
}

h3 {
  font-size: 26px;
  line-height: 34px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
}

h5 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

h6 {
  font-size: 14px;
  line-height: 20px;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1rem;
  margin-top: 0;
}

small {
	font-size: 14px;
	font-weight: 300;
	line-height: 21px;
}
