html,
body {
  line-height: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5em;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

button,
input,
select,
textarea {
  background-color: var(--white);
  border: 1px solid var(--dark-gray);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  line-height: inherit;
  margin: 0;
  overflow: visible;
}

input {
  height: 49.33px;
  padding: 0 1rem;
  width: 370px;
}

input[type='checkbox'],
input[type='radio'] {
  height: 0;
  padding: 0;
  width: 30px;
}

select {
  height: 49.33px;
  padding: 0 1rem;
  width: 400px;
}

textarea {
  padding: 1rem;
  width: 370px;
}

label {
  display: block;
  font-size: 13px;
  margin-bottom: .25rem;
}