.select {
}

.select:valid {
  color: inherit;
}

.select,
.select[value=""] {
  color: var(--dark-gray);
}

.select:hover {
  border-color: var(--one-blue);
}

.select:disabled {
  background-color: var(--light-smoke);
  border-color: var(--dark-gray);
}
