.select {
  position: relative;
  display: inherit;
  width: 400px;
  height: 49.33px;
  margin: 5px 0px;
  padding: 0px 10px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 6px;
  background-color: var(--color-white);
  font-size: 16px;
  overflow: hidden;
}

.select:valid {
  color: inherit;
}

.select,
.select[value=""] {
  color: var(--color-dark-gray);
}

.select:hover {
  border-color: var(--color-one-blue);
}

.select:disabled {
	background-color: var(--color-light-smoke);
}

::placeholder {
  color: var(--color-dark-gray);
}

