.select {
  background-color: var(--white);
  border: 1px solid var(--dark-gray);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  height: 49.33px;
  line-height: inherit;
  overflow: visible;
  margin: 0;
  padding: 0 1rem;
  width: 400px;
}

.select:valid {
  color: inherit;
}

.select,
.select[value=""] {
  color: var(--dark-gray);
}

.select:hover {
  border-color: var(--one-blue);
}

.select:disabled {
  background-color: var(--light-smoke);
  border-color: var(--dark-gray);
}
