.RadioButton {
  position: relative;
  margin: 5px 5px 5px 0px;
  width: 25px;
  height: 25px;
}

.Description {
  position: absolute;
  font-size: 14px;
  color: gray;
  margin-top: 10px;
  margin-left: 30px;
}