.radio-button {
  display: inline-block;
  padding-right: 35px;
  position: relative;
  user-select: none;
}

.radio-button input {
  height: 0;
  opacity: 0;
  padding: 0;
  width: 0;
}

.radio-button .checkmark {
  border: 1px solid var(--stone, slategray);
  border-radius: 100px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 20px;
}

.radio-button:hover input ~ .checkmark {
  border: 2px solid var(--one-blue, blue);
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.radio-button input:checked ~ .checkmark {
  background-color: var(--white, white);
  border: 2px solid var(--one-blue, blue);
  height: 18px;
  width: 18px;
}

.radio-button input:disabled ~ .checkmark {
  background-color: var(--white, white);
  border-color: var(--misty, lightgray);
  cursor: default;
}

.radio-button .checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.radio-button input:checked ~ .checkmark:after {
  display: block;
}

.radio-button .checkmark:after {
  background-color: var(--one-blue, blue);
  border-radius: 50%;
  height: 10px;
  left: 2px;
  width: 10px;
  top: 2px;
}

.radio-button input:disabled ~ .checkmark:after {
  background-color: var(--misty, lightgray);
}