.form-group {
  display: inherit;
  padding-right: 1.5rem;
  padding-top: 7.5px;
  padding-bottom: 7.5px;
  vertical-align: top;
}

.form-group:last-child {
  padding-right: 0;
}

.form-group-inline {
  display: inline-block;
}

.form-group-inline label {
  display: inherit;
}

.form-group-check label {
  font-size: 16px;
  font-weight: 100;
}