.card {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--color-white, white);
  background-clip: border-box;
  border: 1px solid var(--color-faded-blue, lightblue);
  border-radius: 6px;
}