.card {
  position: relative;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: var(--white, white);
  background-clip: border-box;
  border: 1px solid var(--faded-blue, lightblue);
  border-radius: 6px;
}

.card-dark {
  background-color: var(--one-darkest, darkblue);
}

.card-dark .card-title,
.card-dark .card-text {
  color: var(--white, white);
}