.inputfield {
  display: block;
  position: relative;
  width: 370px;
  height: 49.33px;
  border: 1px solid #A3A3A3;
  border-radius: 6px;
  background-color: #FFFFFF;
  font-size: 16px;
  margin: 5px 0px;
  padding: 0px 15px;
}

.inputfield:hover {
  border-color: #025FAE;
}

.inputfield:disabled {
	background-color: #F6F6F6;
}

.inputfield[type=number]::-webkit-inner-spin-button {
  display: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #7C7C7C;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #7C7C7C;
 opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #7C7C7C;
 opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #7C7C7C;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #7C7C7C;
}

::placeholder { /* Most modern browsers support this now. */
  color: #7C7C7C;
}
