.inputfield {
  position: relative;
  padding: 5px 0;
}

.inputfield input {
  display: block;
  width: 370px;
  height: 49.33px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 6px;
  background-color: var(--color-white);
  font-size: 16px;
  margin: 10px 0px;
  padding: 0px 15px;
}

.inputfield:hover input {
  border-color: var(--color-one-blue);
}

.inputfield:disabled input {
	background-color: var(--color-light-smoke);
}

.inputfield input[type=number]::-webkit-inner-spin-button {
  display: none;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: var(--color-dark-gray);
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: var(--color-dark-gray);
  opacity:  1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: var(--color-dark-gray);
  opacity:  1;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-dark-gray);
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-dark-gray);
}

::placeholder { /* Most modern browsers support this now. */
  color: var(--color-dark-gray);
}
