.alert {
  height: 64px;
  width: 100%;
  background-color: var(--white, white);
  border: 1px solid var(--marble, lightgray);
  border-radius: 8px;
  position: relative;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.alert:first-child {
  margin-top: 0;
}

.alert:last-child {
  margin-bottom: 0;
}

.alert-icon {
  display: inline-block;
  height: 100%;
  width: 64px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.alert-primary .alert-icon {
  background-color: var(--day, white);
}

.alert-secondary .alert-icon {
  background-color: var(--white, white);
}

.alert-danger .alert-icon {
  background-color: var(--danger, red);
}

.alert-success .alert-icon {
  background-color: var(--success, green);
}

.alert-warning .alert-icon {
  background-color: var(--warning, yellow);
}

.alert-info .alert-icon {
  background-color: var(--morning, lightblue);
}

.alert-body {
  display: inline-flex;
  align-items: center;
  padding: 0 0 0 20px;
  height: 100%;
  vertical-align: top;
  overflow-x: hidden;
  line-height: normal;
  word-break: break-all;
  width: calc(100% - 64px - 64px);
}

.alert .close {
  position: absolute;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  float: right;
  top: 0px;
  right: 0px;
  line-height: 60px;
  height: 64px;
  width: 64px;
}

.alert .close:hover,
.alert .close:focus {
  border-color: var(--sky, lightblue);
  outline: none;
  display: inline-block;
}

.alert .close:after {
  content: '×';
  display: inline-block;
  color: var(--stone, darkgray);
  font-size: 42px;
  line-height: 48px;
  font-weight: lighter;
}
