.modal-header {
  position: relative;
}

.modal-title {
  line-height: 32px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: 24px;
  color: var(--black, black);
}

.modal-header .close {
  position: absolute;
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
  float: right;
  top: -10px;
  right: -10px;
}

.modal-header .close:hover,
.modal-header .close:focus {
  outline: none;
}

.modal-header .close:after {
  content: '×';
  display: inline-block;
  color: var(--black, black);
  font-size: 28px;
  line-height: 32px;
  font-weight: lighter;
}
