.navbar-brand {
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 2rem;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand:not(.disabled):not(:disabled) {
  cursor: pointer;
}