.navbar-brand {
  display: inline-block;
  font-size: 20px;
  font-weight: 100;
  line-height: 70px;
  padding: 0;
  text-decoration: none;
  white-space: nowrap;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand:not(.disabled):not(:disabled) {
  cursor: pointer;
}

.navbar-brand.active {

}

.navbar-brand > img {
  max-height: 40px;
  width: auto;
  vertical-align: middle;
}
