.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 70px;
}

.navbar > .container,
.navbar > .container-fluid {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  width: 100%;
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 1030;
}

.navbar-fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

@media (--phone) {
  [class*="navbar-fixed-"] > .container {
    max-width: 410px;
  }
}

@media (--tablet) {
  [class*="navbar-fixed-"] > .container {
    max-width: 590px;
  }
}

@media (--desktop) {
  [class*="navbar-fixed-"] > .container {
    max-width: 830px;
  }
}

@media (--large-desktop) {
  [class*="navbar-fixed-"] > .container {
    max-width: 1310px;
  }
}

.navbar-dark {
  background-color: var(--one-darkest-blue, darkblue);
}

.navbar-light {
  background-color: var(--white, white);
  box-shadow: 0px 2.5px 2.5px var(--marble, lightgray),
              0px -2.5px 2.5px var(--marble, lightgray);
}

.navbar-fixed-top.navbar-light {
  box-shadow: 0px 2.5px 2.5px var(--marble, lightgray);
}

.navbar-fixed-bottom.navbar-light {
  box-shadow: 0px -2.5px 2.5px var(--marble, lightgray);
}

.navbar-dark .navbar-brand {
  color: var(--white, white);
}

.navbar-light .navbar-brand {
  color: var(--black, black);
}

.navbar .nav-link {
  padding: 0.5rem 2rem;
}

.navbar-dark .nav-link {
  color: var(--misty, lightgray);
}

.navbar-dark .nav-link.active,
.navbar-dark .nav-link:active {
  color: var(--white, white);
  text-shadow: 0 0 .01rem var(--white, white), 0 0 .01rem var(--white, white);
}

.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:focus {
  color: var(--white, white);
}

.navbar-dark .nav-link.disabled,
.navbar-dark .nav-link:disabled {
  color: var(--charcoal, slategray) !important;
}
