.navbar {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0rem 1rem;
  min-height: 70px;
}

.navbar > .container,
.navbar > .container-fluid {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (min-width: 576px) {
  .navbar-expand-small {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-small .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-small .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-small .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-small > .container,
  .navbar-expand-small > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-small .navbar-collapse {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-small .navbar-toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar-expand-medium {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-medium .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-medium .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-medium .navbar-nav .nav-link,
  .navbar-expand-medium .navbar-nav .dropdown-toggle {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-medium > .container,
  .navbar-expand-medium > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-medium .navbar-collapse {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-medium .navbar-toggle {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar-expand-large {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-large .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-large .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-large .navbar-nav .nav-link,
  .navbar-expand-large .navbar-nav .dropdown-toggle {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-large .navbar-collapse {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-large .navbar-toggle {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-x-large {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-x-large .navbar-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-x-large .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-x-large .navbar-nav .nav-link,
  .navbar-expand-x-large .navbar-nav .dropdown-toggle {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .navbar-expand-x-large .navbar-collapse {
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-x-large .navbar-toggle {
    display: none;
  }
}

.navbar-expand {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-expand .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 0 25px;
}

.navbar-expand .nav-item {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link,
.navbar-expand .navbar-nav .dropdown-toggle {
  padding-right: 1rem;
  padding-left: 1rem;
}

.navbar-expand .navbar-collapse {
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.navbar-expand .navbar-toggle {
  display: none;
}

.navbar-fixed-top {
  transform : translate3d(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0; 
  z-index: 1030;
}

.navbar-fixed-bottom {
  transform : translate3d(0, 0, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1030;
}

.navbar-dark {
  background-color: var(--one-darkest-blue, darkblue);
}

.navbar-dark .navbar-toggle {
  color: var(--charcoal, slategray);
  border-color: var(--dark-gray, darkgray);
}

.navbar-dark .navbar-toggle-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-collapse.open .navbar-nav .dropdown-menu {
  border-color: transparent;
  background-color: var(--one-darkest-blue, darkblue);
}

.navbar-dark .navbar-collapse.open .navbar-nav .dropdown-item {
  color: var(--misty, lightgray);
}

.navbar-dark .navbar-collapse.open .navbar-nav .dropdown-item:hover,
.navbar-dark .navbar-collapse.open .navbar-nav .dropdown-item:focus {
  color: var(--black, black);
}

.navbar-light {
  background-color: var(--white, white);
  box-shadow: 0px 2.5px 2.5px var(--marble, lightgray),
              0px -2.5px 2.5px var(--marble, lightgray);
}

.navbar-light .navbar-toggle {
  color: var(--charcoal, slategray);
  border-color: var(--dark-gray, darkgray);
}

.navbar-light .navbar-toggle-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-collapse.open .navbar-nav .dropdown-menu {
  border-color: transparent;
  background-color: var(--white, white);
}

.navbar-fixed-top.navbar-light {
  box-shadow: 0px 2.5px 2.5px var(--marble, lightgray);
}

.navbar-fixed-bottom.navbar-light {
  box-shadow: 0px -2.5px 2.5px var(--marble, lightgray);
}

.navbar-dark .navbar-brand {
  color: var(--white, white);
}

.navbar-light .navbar-brand {
  color: var(--black, black);
}

.navbar-dark .nav-link,
.navbar-dark .dropdown-toggle {
  color: var(--misty, lightgray);
}

.navbar-dark .nav-link.active,
.navbar-dark .nav-link:active,
.navbar-dark .dropdown-toggle.active,
.navbar-dark .dropdown-toggle:active {
  color: var(--white, white);
  text-shadow: 0 0 .01rem var(--white, white),
               0 0 .01rem var(--white, white);
}

.navbar-dark .nav-link:hover,
.navbar-dark .nav-link:focus,
.navbar-dark .dropdown-toggle:hover,
.navbar-dark .dropdown-toggle:focus {
  color: var(--white, white);
}

.navbar-dark .nav-link.disabled,
.navbar-dark .nav-link:disabled,
.navbar-dark .dropdown-toggle.disabled,
.navbar-dark .dropdown-toggle:disabled {
  color: var(--charcoal, slategray);
  text-shadow: none;
}
