.date-picker {
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  background-color: var(--white, white);
  border: 1px solid var(--dark-gray, darkgray);
  border-radius: 6px;
  font-family: inherit;
  font-size: 16px;
  height: 49.33px;
  line-height: inherit;
  margin: 0;
  overflow: visible;
  padding: 0 1rem;
  width: 370px;
}

.date-picker:hover {
  border-color: var(--one-blue, blue);
}

.date-picker:disabled {
  background-color: var(--light-smoke, whitesmoke);
  border-color: var(--dark-gray, darkgray);
  color: var(--dark-gray, darkgray);
}

.date-picker::-webkit-clear-button {
  display: none;
}

.date-picker::-webkit-inner-spin-button {
  display: none;
}

.date-picker::-webkit-calendar-picker-indicator {
  opacity: 0;
}
