.datepicker {
  position: relative;
  display: inherit;
  width: 370px;
  height: 49.33px;
  margin: 5px 0px;
  padding: 0px 15px;
  font-size: 16px;
  border: 1px solid var(--color-dark-gray);
  border-radius: 6px;
  background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
  background-color: var(--color-white);
}

.datepicker:hover {
  border-color: #025FAE;
}

.datepicker:disabled {
	background-color: #F6F6F6;
}

.datepicker::-webkit-clear-button {
  display: none;
}

.datepicker::-webkit-inner-spin-button {
  display: none;
}

.datepicker::-webkit-calendar-picker-indicator {
  opacity: 0;
}
