.checkbox {
  display: inline-block;
  padding-right: 28px;
  position: relative;
  user-select: none;
}

.checkbox input {
  height: 0;
  opacity: 0;
  padding: 0;
  width: 0;
}

.checkbox input:disabled {
  cursor: default;
}

.checkbox .checkmark {
  border: 1px solid var(--stone);
  border-radius: 3px;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}

.checkbox:hover input ~ .checkmark {
  border: 2px solid var(--one-blue);
  cursor: pointer;
  height: 18px;
  width: 18px;
}

.checkbox input:checked ~ .checkmark {
  background-color: var(--one-blue);
  border: 2px solid var(--one-blue);
  height: 18px;
  width: 18px;
}

.checkbox input:disabled ~ .checkmark {
  background-color: var(--misty);
  border-color: var(--misty);
  cursor: default;
}

.checkbox .checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  height: 10px;
  left: 6px;
  top: 2px;
  width: 4px;
  transform: rotate(45deg);
}
