.checkbox {
  position: relative;
  display: inherit;
  padding-left: 10px;
  margin: 10px 0px;
  cursor: pointer;
  user-select: none;
}

.checkbox input {
  opacity: 0;
  cursor: pointer;
}

.checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 1px solid var(--color-stone);
  border-radius: 3px;
}

.checkbox:hover input ~ .checkmark {
  height: 18px;
  width: 18px;
  border: 2px solid var(--color-one-blue);
}

.checkbox input:checked ~ .checkmark {
  height: 18px;
  width: 18px;
  background-color: var(--color-one-blue);
  border: 2px solid var(--color-one-blue);
}

.checkbox input:disabled ~ .checkmark {
  background-color: var(--color-misty);
  border-color: var(--color-misty);
}

.checkbox .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox input:checked ~ .checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 6px;
  top: 2px;
  width: 4px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
