.avatar {
  display: inline-block;
  position: relative;
  color: var(--white, white);
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  background-color: var(--one-blue, blue);
  border-radius: 50%;
  margin: 0 1px;
  overflow: hidden;
  text-align: center;
  user-select: none;
}

.avatar-x-small {
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.avatar-small {
  height: 48px; 
  width: 48px;
  line-height: 48px;
}

.avatar-medium {
  height: 64px;
  width: 64px;
  line-height: 64px;
}

.avatar-large {
  height: 88px;
  width: 88px;
  line-height: 88px;
}

.avatar-x-small > span {
  font-size: 16px;
  line-height: 19px;
}

.avatar-small > span {
  font-size: 16px;
  line-height: 19px;
}

.avatar-medium > span {
  font-size: 20px;
  line-height: 24px;
}

.avatar-large > span {
  font-size: 24px;
  line-height: 29px;
}
