@import '../../styles/foundation.css';

.avatar {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: var(--white, white);
  background-clip: padding-box;
  background-size: cover;
  background-position: center center;
  background-color: var(--one-blue, blue);
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  text-align: center;
  user-select: none;
}

.avatar-x-small {
  height: 28px;
  width: 28px;
  line-height: 28px;
}

.avatar-small {
  height: 40px;
  width: 40px;
  line-height: 40px;
}

.avatar-medium {
  height: 48px; 
  width: 48px;
  line-height: 48px;
}

.avatar-large {
  height: 64px;
  width: 64px;
  line-height: 64px;
}

.avatar-x-large {
  height: 88px;
  width: 88px;
  line-height: 88px;
}

.avatar > span {
  font-weight: 100;
  margin: auto;
  padding: 0;
}

.avatar-x-small > span {
  font-size: 16px;
}

.avatar-small > span {
  font-size: 16px;
}

.avatar-medium > span {
  font-size: 20px;
}

.avatar-large > span {
  font-size: 24px;
}
