.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}

.navbar-nav {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.navbar-nav .nav-link,
.navbar-nav .dropdown-toggle {
  line-height: 70px;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.nav-tabs {
  border-bottom: 1px solid var(--misty, lightgray);
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
}

.nav-tabs .nav-link {
  border-bottom: 2px solid transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link:active {
  border-color: var(--one-blue, blue);
}

.nav-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
}

.nav-vertical.nav-tabs {
  border-bottom: none;
}

.nav-vertical.nav-tabs .nav-link {
  border-bottom: none;
  border-left: 2px solid transparent;
}

.nav-vertical.nav-tabs .nav-link.active,
.nav-vertical.nav-tabs .nav-link:active {
  border-left: 2px solid var(--one-blue, blue);
}

.nav-justified .nav-item {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.nav-collapsed {
  display: none;
}

.nav-horizontal-left {
  -webkit-box-pack: start !important;
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
  padding-left: 0;
}

.nav-horizontal-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  margin-left: auto;
  margin-right: auto;
}

.nav-horizontal-right {
  -webkit-box-pack: end !important;
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
  margin-left: auto;
  padding-right: 0;
}

.navbar-nav.nav-horizontal-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}